
h1 {
text-align: center;
color: darkorange;
font-size: 80px;
margin-top: 50px;
}
canvas {
   display: block;
  margin: 0 auto;

}


body {
  background-image: url("planetNamek.png");
background-size: cover;
}