
h1 {
text-align: center;
color: darkorange;
font-size: 80px;
margin-top: 50px;
}
canvas {
   display: block;
  margin: 0 auto;

}


body {
  background-image: url("planetNamek.png");
background-size: cover;
}

#keys {
  float:right;
  margin-right: 150px;

}

#dir {
   color: white;
  font-size: 25px;
  margin-left: 30%;

}
